doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet',  href='style.css')
    script(src='time.js')
  body
    
    include header.pug
    .main
      .contacts

        h3 Наш адрес:
        p г.Днепр ул. Байкальская 20
        h4 Телефон:
        p (099) 000-00-00