doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet',  href='style.css')
    script(src='time.js')
  body
    
    include header.pug
    .main
      .marvel
        .img
          img(src="avengers.jpg")
        .content
          h2 Сюжет
          p.
            Спустя четыре года после событий, представленных в фильме «Стражи Галактики. Часть 2», Мстители, разделившиеся после событий, рассказанных в фильме «Первый мститель: Противостояние», объединяют свои усилия со Стражами Галактики, чтобы сразиться с Таносом, пытающимся собрать камни бесконечности для перчатки, которая позволит ему изменить реальность по своему желанию.
          ul <h3>Актёрский состав</h3>
            li Роберт Дауни-младший
            li Джош Бролин
            li Марк Руффало
            li Том Хиддлстон
            li Крис Эванс
            li Крис Хемсворт